<div class="container-data">
    <img class="wave" src="../../assets/images/wave.png">
    <div class="container">
        <div class="img">
            <img src="../../assets/images/schedule.svg">
        </div>
        <div class="login-content">
            <form class="form" [formGroup]="loginGroup">
                <img src="../../assets/images/avatar.svg">
                <h2 class="title">AGENDER</h2>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl"
                        placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl">
                    <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                    Please enter a valid password address
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <a routerLink="">Forgot Password?</a>
                <button [disabled]="formInvalid()" class="btn" (click)="submit()">Login</button>
            </form>
        </div>
  </div>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
</div>
